$bg: black;
$fg: orange;

* {
    all: unset;
}

.bar_1 {
    background: $bg;
    color: $fg;
    font-size: 15px;
    border-radius: 15px;
}

.bar_separator_1 {
    font-size: 20px;
}

.workspaces {
    margin-top: 10px;
    font-size: 18px;
}

.workspace-button {
    margin-top: 3px;
}

.time,
.date {
    font-size: 25px;
    font-family: 'Silkscreen';
}

.date {
    margin-bottom: 10px;
}
