* {
  all: unset;
}

.taskspanel {
  background: rgba(0, 0, 0, 0.3);
}

.applications-button {
  background: transparent;
  font-size: 30px;
  margin: 4px 5px 4px 0px;
  min-width: 40px;
  min-height: 40px;
}

.applications-button:active {
  //font-size: 28px;
  color: lightgray;
  transition: 0.05s;
}

.datetime {
  margin-right: 8px;
  font-size: 20px;
  font-weight: bold;
  background: transparent;
}

.datetime:active {
  color: lightgray;
  transition: 0.05s;
}

// Search App CSS
.search-bar-icon {
  font-size: 30px;
  margin-left: 10px;
}

.search-bar {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  background: transparent;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 0px 20px 20px 0px;
}

.search-bar-input {
  color: #88c0d0;
  border-left: 2px solid white;
  border-radius: 0px 20px 20px 0px;
}

.finded-apps {
  margin: -2px;
  font-size: 1.25rem;
  padding: 30px;
  color: #88c0d0;
}

.workspaces {
  margin-top: 1rem;
  margin-left: 20px;
  font-size: 20px;
	min-height: 25px;
}
